\* {box-sizing: border-box}




/* Slideshow container */
.slideshow-container {
	z-index: 2;
	width: 75%;
  position: relative;
	margin: 0px auto;
	
 &--informes_btn{
		border-radius: 5px;
		color: white;
		//background-color:#296074;
		background-image: linear-gradient(to right, #293c57, #296074);
		border: solid 1px white;
		box-shadow: .5rem 1rem 2rem rgba($color-black, .2);


		padding: 14px 25px;
		text-align: center; 
		text-decoration: none;
		display: inline-block;
		width: 15rem;
		float: right;
 }
 &--informes_btn:hover{
			background-image: linear-gradient(to left, #293c57, #296074);
			
 }
}