@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
.top_bar{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: auto;
    width: 100%;
    z-index: 2;
    padding: .5rem;
}
.top_bar_img{
    display: none;
    position: relative;
    width: 100%;
}
.logo{
    padding: 1em;
    position: relative;
    display: flex;
    color: white;
    align-items: center;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    flex-direction: column;
    align-items: center;
}
