.footer{
    display: flex;
    background-color: transparent;
    height: 1.7rem;
    width: 100%;
    color:orange;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: black;
    z-index: 3;
    
}
